{% extends "base.html" %}
{% block left %}
<span align="right">
<img src="{{ article.user.gravatar_icon_url }}?s=32"><br>
{{ article.user.nickname }}<br>
{{ article.created_date|date:"m/d/Y" }}<br>
hits: {{ article.hits }}
</span>
{% endblock %}
{% block content %}
<p><b>{{ article.title }}</b></p>
{{ article.content_html }}
{% ifequal 0 article.reviews.count %}
<br><br>
<hr>
facebook, twitter
<hr>
<i>be the first one to review!</i>
{% endifequal %}

<table width="100%">
{% for review in article.reviews %}
	<tr><td colspan="2"><hr></tr>
	<tr>
		<td width="40" valign="top"><img src="{{ article.user.gravatar_icon_url }}?s=32"><br>{{ review.user.nickname }}</td>
		<td valign="top">{{ review.created_date|date:"m/d/Y" }}<br>{{ review.content_html }}</td>
	</tr>
{% endfor %}
</table>
<br><br>

{% endblock %}
{% block right %}
{% endblock %}