{% extends "base.html" %}
{% block head_scripts %}
    <script src="/static/js/showdown.js" type="text/javascript"></script>
    <script type="text/javascript">
        wmd_options = {
            output: "Markdown",
			lineLength: 40,
			buttons: "bold italic | link blockquote code image | ol ul heading hr",
			autostart: true        
	    };        
	    $(document).ready(function () {
            $('textarea.resizable:not(.processed)').TextAreaResizer();
        });
    </script>
{% endblock %}

{% block content %}

<form method="post">
<div class="container">
    <div class="row">
	<div class="left">Title</div>
	<div class="middle"><input class="p100" type="text" id="title" name="title" value="{{ item.title }}"/></div>
    </div>
    <div class="row">
	<div class="left"></div>
	<div id="wmd-button-bar" class="wmd-panel middle"></div>
    </div>
    <div class="row">
	<div class="left"></div>
	<div class="middle"><textarea class="p100" id="wmd-input" name="content_wmd" class="wmd-panel resizable" rows="16">{{ item.content_wmd }}</textarea></div>
    </div>
    <div class="row">
	<div class="left"><a href="javascript:void(0);" id="lnkPreview">Preview</a></div>
	<div id="wmd-preview" class="wmd-panel middle"></div>
    </div>
    <div class="row">
	<div class="left">Tags</div>
	<div class="middle"><ul id="mytags"></ul></div>
    </div>
    <div class="row">
	<div class="left"></div>
	<div class="middle"><input type="submit" value="Save"/></div>
    </div>
</div>
</form>
{% endblock %}

{% block footer_scripts %}
<script src="/static/js/wmd.js" type="text/javascript"></script>
{% endblock %}
