{% extends "base.html" %}
{% block left %}
<span align="right">
<img src="{{ article.user.gravatar_icon_url }}?s=32"><br>
{{ article.user.nickname }}<br>
{{ article.created_date|date:"m/d/Y" }}<br>
hits: {{ article.hits }}
</span>
{% endblock %}
{% block content %}
<p><b>{{ article.title }}</b></p>
{{ article.content_html }}
<br><br>
<hr>
hook to facebook, twitter
<hr>

<table width="100%" cellpadding="0" cellspacing="0">
{% for review in article.reviews %}
	<tr><td colspan="2"><hr></tr>
	<tr>
		<td width="40" valign="top"><img src="{{ article.user.gravatar_icon_url }}?s=32"><br>{{ review.user.nickname }}</td>
		<td valign="top">{{ review.created_date|date:"m/d/Y" }}<br>{{ review.content_html }}</td>
	</tr>
{% endfor %}
	<tr><td colspan="2"><hr></td></tr>
{% if user %}
	<tr>
		<td width="40" valign="top">{{ user.nickname }} </td>
		<td><textarea rows="3" style="width:100%"></textarea><br>{{ login_url }}</td>
	</tr>
{% else %}
	<tr><td colspan="2">{{ login_msg }}</td></tr>
{% endif %}
</table>
<br><br>

{% endblock %}
{% block right %}
{% endblock %}
