{% extends "base.html" %}
{% block left %}
<span align="right">
<img src="{{ article.user.gravatar_icon_url }}?s=32"><br>
{{ article.user.nickname }}<br>
{{ article.created_date|date:"m/d/Y" }}<br>
hits: {{ article.hits }}
</span>
{% endblock %}
{% block content %}
<p><b>{{ article.title }}</b></p>
{{ article.content_html }}
<hr>
{% ifequal 0 article.reviews.count %}
<i>be the first one to review!</i>
{% endifequal %}

{% for review in article.reviews %}
{{ review.user.nickname }} - {{ review.subject }} ({{ review.created_date }}) - {{ review.content_html }}<br><br>
{% endfor %}
{% endblock %}
{% block right %}
right bar
{% endblock %}