<html>
<head>
  <title>{% block title %}mystery league{% endblock %}{%block sub_title%}{%endblock%}</title>
  <link href="/static/style.css" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/flick/jquery-ui.css">
  <link href="/static/jquery.tagit.css" rel="stylesheet" type="text/css">
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js" type="text/javascript" charset="utf-8"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.12/jquery-ui.min.js" type="text/javascript" charset="utf-8"></script>
  <script src="/static/js/tag-it.js" type="text/javascript"></script>
  <script src="/static/js/site-debug.js" type="text/javascript"></script>
  {% block head_scripts %}{% endblock%}
</head>
<body>
  <div id="header">
  	<div class="floatleft"><a href="/">mystery league</a> ({% ver %})</div>
  	<div class="floatright">{% curr_user %}</div>
  </div>
  <hr>
  <div id="main">
	  <div id="leftbar">
	    {% block left %}{% endblock%}
	  </div>
	  <div id="rightbar">
	    {% block right %}{% endblock%}
	  </div>
	  <div id="content">
	    {% block content %}{% endblock%}
	  </div>
  </div>
  <div id="footer">
	<hr size="1">
	{% block footer %}
	(c) mystery league, 2003-2011
	{% endblock%}
  </div>
  {% block footer_scripts %}
  {% endblock %}
</body>
</html>
