<html>
<head>
  <title>{% block title %}Mystery League{% endblock %}</title>
  <link href="/static/style.css" rel="stylesheet" type="text/css" />
  {% block head_scripts %}{% endblock%}
</head>
<body>
  <div id="header">
  <a href="/">mystery league</a> (v0.03) | {% curr_user %} | <a href="/login">login</a> | <a href="/logout">logout</a> | <a href="/setting">setting</a>
  <hr size="1"/>
  </div>
  <div id="main">
	  <div id="leftbar">
	    {% block left %}{% endblock%}
	  </div>
	  <div id="rightbar">
	    {% block right %}{% endblock%}
	  </div>
	  <div id="content">
	    {% block content %}{% endblock%}
	  </div>
  </div>
  <div id="footer">
	<hr size="1">
	{% block footer %}
	(c) mystery league, 2003-2011
	{% endblock%}
  </div>
  {% block footer_scripts %}
  {% endblock %}
</body>
</html>
