{% extends "base.html" %}
{% block left %}
<span align="right">
<img src="/pics/m/{{ item.icon_url }}"/><br>
hits: {{ item.hits }}
</span>
{% endblock %}
{% block content %}
<p class="title">{{ item.title }}</p>
ISBN: {{ item.isbn }}<br>
Page: {{ item.page_count }}<br>
<br>
{{ item.summary }}
<br><br>
<b>Tags ({{ tagcount }})</b><br>
{% for tag in tags %}
<a class="gray" href="#">{{ tag.name }} ({{ tag.count }})</a>  
{% endfor %}
<hr>
hook to facebook, twitter
<hr>
<a href="/detail/review/{{ item.item_type }}-{{ item.key }}">Post Review</a>
<br>
reviews
<br><br>

{% endblock %}
{% block right %}
{% endblock %}
