body {
    background-color: #fff;
    font-size: 10pt;
    font-family: Verdana, Helvetica, Sans-Serif;
    margin: 0;
    padding: 0;
    color: #000;
}

hr
{
    color: #C0C0C0;
    border-top-style: dashed;
    border-top-width: 1px;
    border-top-color: #C0C0C0;
}

table{
    font-size: 10pt;
    font-family: Verdana, Helvetica, Sans-Serif;
}
.floatleft
{
    float:left;
}
.floatright
{
    float:right;
}
div#header
{
    margin: 0;
    padding: 4;
    height:12px;
}
div#main
{
    width: 1000px;
}
div#leftbar
{
    float:left;
    width:150px;
    padding-right:5px;
    padding-top:5px;
    text-align:right;
}
div#rightbar
{
    float:right;
    width:150px;
    padding-left:5px;
    padding-top:5px;
}
div#content
{
    padding:5px;
    overflow: hidden;
}

/* links */
a:link{color: #034af3;text-decoration: none;}
a:visited{color: #034af3;}
a:hover{color: #1d60ff;text-decoration:underline;}
a:active{color: #034af3;}

a.gray:link{color: #707070;text-decoration: none;}
a.gray:visited{color: #707070;}
a.gray:hover{color: #1d60ff;text-decoration:underline;}
a.gray:active{color: #707070;}
/* end links */

.pagelink
{
    padding: 4px;
}

.selected
{
    font-size: 12pt;
    font-weight:bold;
    background: #ADDFFF;
}

.gray
{
    color: #707070;
}
.title
{
    font-size:14pt;
}
